/* body {
    font-family: 'Arial', sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    margin: 22px;
}

#root{
display: flex;
flex-direction: row;
gap: 44px;
}

#inputfield{
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #c4c4c4;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 700px;
}

#registeredusers{
    background: linear-gradient(to right, #fff766, #ff9999);
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 0;
    padding: 8px;
}

#userinformation{
    background: linear-gradient(to right, #fff766, #ff9999);
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 0;
    padding: 8px;
}

#user-list-container{
    gap:55px;
    text-align: center;
}

.usercontainer{
    background: linear-gradient(to right, #fff766, #ff9999);
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    border: 2px solid black;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

#buttondiv{
    display: flex;
    flex-direction: row;
    margin-top: 22px;
    margin-bottom: 12px;
    gap: 12px;
}

button{
    margin: 5px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, scale 0.3s;
    user-select: none;
}

button:hover {
    background-color: #45a049;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    scale: 1.1;
}

h1, h2, h3, h4 {
    letter-spacing: 2px;
}

p{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: large;
}

#new-user{
    background: linear-gradient(to right, #fff766, #ff9999);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 4px solid black;
    border-radius: 12px;
    padding: 8px;
    margin-top: 0;
    width: 400px;
}

#username{
    margin-bottom: 6px;
}
#useremail{
    margin-bottom: 6px;
}
#usershipping{
    margin-bottom: 6px;
}
#userinvoice{
    margin-bottom: 6px;
} */